<p style="color: green"><%= notice %></p>

<h1 class="title">Recipes</h1>

<div id="recipes">
  <% @recipes.each do |recipe| %>
    <%= render recipe %>
  <% end %>
</div>

<%= link_to "New recipe", new_recipe_path %>
